# build output
dist
public
!site/public
site/public/icons
site/public/list.json
.next
target
packages/next/wasm/@next
out
private

# dependencies
node_modules

# logs & pids
*.log
pids
*.cpuprofile

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store
/e2e-tests
test/tmp/**

# Editors
**/.idea
**/.#*
.nvmrc

# examples
examples/**/out
examples/**/.env*.local

pr-stats.md
test-timings.json

# Vercel
.vercel
.now

# Cache
*.tsbuildinfo
.swc/